.category-task-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--primary-font-color);
}

.category-task-container .textboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-main-container .textboxes {
    margin: 20px;
}   

.category-main-container .modal-content .modal-body {
}

.task-measurement-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.category-main-container .modal-content {
    color: var(--primary-font-color);
    box-sizing: content-box;
}

.category-task-container .textboxes input,
.category-main-container .textboxes select,
.category-main-container .textboxes textarea {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    color: var(--primary-font-color);
    resize: none;
}

.category-main-container .textboxes .editables {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.category-task-container .textboxes label {
    font-weight: 500;
    font-size: 1.2rem;
}

.category-task-container .modal-title {
    font-size: 2rem;
    font-weight: 600;
}

.all-categories-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    
    background-color: white;
    z-index: 100;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgb(190, 190, 190);
    padding: 20px;
    gap: 20px;
}

.all-categories-container .sidebar-title {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-font-color);
}

.add-category-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-category-container button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-category-container input {
    padding: 10px;
    background-color: transparent;
    color: var(--primary-font-color);
    font-size: 1rem;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.all-categories-container .all-categories {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.all-categories .department {
    padding: 7px;
    box-sizing: border-box;
    width: 100%;
    color: var(--sec-font-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    transition: all 300ms;
    border-radius: 10px;
}

.all-categories .department:hover {
    color: var(--primary-color);
    background-color: rgba(85, 130, 255, 0.2);
}

.category-main-container {
    width: 100%;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.tasks-average-rating {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.tasks-average-rating .category-title {
    grid-column: span 2;
}
.summary-performance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    scale: 0.9;
}
.all-tasks-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    gap: 20px;
    transition: all 200ms;
}

.all-tasks-container .all-tasks-title {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.all-tasks-title .create-task-btn {
    font-size: 1rem;
}

.all-tasks-title .create-task-btn button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.all-tasks-container .all-tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.all-tasks .task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);  
    box-sizing: border-box; 
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    gap: 20px;
    transition: all 200ms;
    overflow: hidden;
}

.all-tasks .task:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    box-shadow: 0px 0px 0px rgb(230, 230, 230);
}

.task .department-name {
    width: 100%;
    background-image: linear-gradient(to left,var(--secondary-color), rgb(255, 136, 0), rgb(255, 136, 0));
    background-image: linear-gradient(to left, rgb(143, 143, 250), var(--lighter-primary-color), var(--primary-color));
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.3rem;
    color: white;
}

.all-tasks .task .task-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    
}

.all-tasks .task-description {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.all-tasks .task .title {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.all-tasks .task .description {
    font-weight: 300;
    
}

.all-tasks .task .assigned-users {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    
}

.assigned-users .container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
}

.tasks-measurements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.all-tasks .task .assigned-pic {
    background-image: url("dummy.jpg");
    width: 40px;
    height: 40px;
    background-size: cover;
    color: transparent;
    border-radius: 50%;
    margin-right: -15px;
    box-shadow: 0px 0px 5px rgb(241, 241, 241, 0.2);
}

.empty-tasks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    font-size: 2rem;

    border-style: dashed;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.task-info-container {
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
    gap: 20px;
}

.main-task-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-description {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    gap: 30px;
}

.description-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.description-container .task-title{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 700;
    transition: all 200ms;
}
.description-container span, 
.description-container div,
.task-measurements div{
    border-style: none;
    transition: all 200ms;
    border-width: 1px;
    border-radius: 5px;
}

.description-container span[contenteditable="true"], 
.description-container div[contenteditable="true"],
.task-measurements div[contenteditable="true"]{
    border-bottom-style: solid;
    padding: 10px;
    border-width: 2px;
    border-radius: 0px;
}

.description-container .description {
    display: flex;
    flex-direction: column;

}

.descriptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    box-sizing: border-box;
    
}

.description-container .description .title,
.task-measurements .description .title,
.users-assigned .title {
    font-weight: 600;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.description-container .description .content {
    color: var(--sec-font-color);
}

.task-description .task-measurements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.users-assigned {
    display: flex;
    flex-direction: column;
}

.user-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-container .user {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 10px;
    padding: 10px;
}

.user-container .user .user-image {
    background-image: url("dummy.jpg");
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
}

.user-container .user .user-profile {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.user-container .user .user-profile .user-name {
    font-weight: 500;
    font-size: 1.2rem;
}

.user .option button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.back {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    transition: all 200ms;
}

.back:hover {
    color: var(--primary-color);
}

.custom-switch .form-check-input:checked {
    background-color: var(--primary-color);
}

.task-stats {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.task-stats .graph-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-stats .graph-container .graph {
    height: 200px;
}

.edit-toggle {
    font-size: 1.4rem;
}

.task-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}

.category-title h2 {
    transition: all 500ms;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
}

.category-title h2[contenteditable=true]{
    border-style: solid;
    padding: 10px;
    border-width: 1px;
}

.category-title .material-symbols-outlined {
    font-size: 2rem;
}

.empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.8);
    z-index: 1000;
}

.empty-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
