.faculty-container  {
    display: flex;
    flex-direction: column;
    padding: 1%;
    box-sizing: border-box;
    color: var(--primary-font-color);
    height: 100%;
}

.ipcr-container {
    border-radius: 10px;
    box-sizing: border-box;
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.ipcr-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 10px;
    height: 100%;
}

.ipcr-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ipcr-options-container button {
    width: auto;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.options-header {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    padding: 10px;
}

.options-header .title{
    font-size: 2rem;
    font-weight: 600;
}

.options-header .content {
    font-weight: 300;
}

.all-ipcr-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.all-ipcr-container .ipcr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    border-color: var(--primary-font-color);
    box-sizing: border-box;
    box-shadow: 0px 0px 2px var(--primary-font-color);
    border-width: 1px;
    width: 230px;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: all 300ms;
}

.all-ipcr-container .ipcr:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: none;
}

.all-ipcr-container .ipcr:hover .material-symbols-outlined{
    color: var(--primary-color);
}

.all-ipcr-container .ipcr .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-ipcr-container .ipcr .description .title {
    font-weight: 600;
}

.all-ipcr-container .ipcr .description .created {
    font-weight: 300;
    font-size: 0.8rem;
}

.all-ipcr-container .ipcr .material-symbols-outlined {
    color: var(--primary-font-color);
    font-size: 5rem;
    transition: all 300ms;
}
.choose-task-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.assigned-task-container {
    display: flex;
    flex-direction: column;
}

.assigned-task-container .assigned-tasks {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 10px;
}

.assigned-tasks .task-assigned {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(190, 190, 190);
    transition: all 200ms;
}

.assigned-tasks .task-assigned .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.assigned-tasks .task-assigned .category {
    display: flex;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-image: linear-gradient(to left,rgb(255, 69, 69), rgb(255, 136, 0), rgb(240, 128, 0));
}

.assigned-tasks .task-assigned .category.unassigned {
    display: flex;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-image: linear-gradient(to left, rgb(57, 57, 252), var(--lighter-primary-color), var(--primary-color));
}

.choose:checked+.task-assigned{
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.modal-choices {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.department-members {
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.department-members .member-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
}

.department-members .member-container .member {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.member-container .member .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.member-container .member .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc .name {
    font-weight: 600;
    font-size: 1.2rem;
}

.desc .position {
    margin-top: -5px;
    font-size: 0.9rem;
}

.back {
    font-size: 1.2rem;
    margin: 10px;
}


.edit-ipcr-container {
    font-family: 'Calibri';
    overflow: scroll;
    min-width: 1300px;
}

.edit-ipcr-container .ipcr-form-container {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}



.ipcr-header-container {
    font-family: "Sitka Heading";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.ipcr-header-container .ipcr-logo {
    color: transparent;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
}

.ipcr-header-container .school-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ipcr-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    box-sizing: border-box;
    padding: 10px;
}

.ratee-information {
    display: flex;
    flex-direction: column;
}

.ratee-oath {
    display: flex;
    flex-direction: column;
}

.ratee-oath .first-oath {
    display: flex;
    flex-direction: row;
}
.first-oath i{
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.first-oath, .second-oath i {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.ratee-signature {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    align-items: flex-end;
}

.ratee-signature .date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratee-signature .date input {
    border-style: none;
    border-bottom-style: solid;
    background-color: white;
    width: 400px;
}


.individuals-top-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    border-width: 1px;

}

.involved {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-weight: 600;
    font-size: 1.1rem;
}
.involved .individual-container {
    display: flex;
    flex-direction: column;
}

.involved .individual-container span,
.involved .date-viewed span {
    width: 100%;
    text-align: center;
}

.involved .individual-container .type,
.involved .date-viewed .type {
    text-align: left;
    text-indent: 10px;
    padding: 2px;
}

.involved .date-viewed {
    border-right-style: solid;
    border-left-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}

.legend-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.legend-container .legend{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding: 5px;
    border-style: solid;
    font-weight: 600;
    margin-top: 10px;
}

.tasks-table {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr 1fr 1fr;
    border-top-style: solid;
    border-left-style: solid;
    border-width: 1px;
}

.tasks-table .headers {
    display: grid;
    place-items: center;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
    font-weight: 600;
}

.tasks-table .rating {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.tasks-table .rating .rates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    width: 100%;
} 

.tasks-table .rating .rates span {
    border-left-style: solid;
    border-top-style: solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
}

.categories {
    grid-column: span 5;
    
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
    padding: 2px;
    font-weight: 600;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 6fr;
    
    text-align: left;
}

.sub-task-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.stats input[type=number]::-webkit-inner-spin-button,
.stats input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stats input[type ="number"] {
    text-align: center;
    background-color: white;
    border-style: none;
    color: black;
    width: 50px;
    border-bottom-style: solid;
    border-width: 1px;
    -moz-appearance: textfield;
}

.stats .value {
    display: grid;
    place-items: center;
    border-bottom-style: solid;
    border-width: 1px;
    font-weight: 600;
}

.stats .desc, .sub-task-name {
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
    padding: 5px;
}

.sub-task-rating {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.sub-task-rating span {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    border-width: 1px;
    border-bottom-style: solid;
    border-right-style: solid;
}

.remarks {
    display: grid;
    place-content: center;
    border-width: 1px;
    border-bottom-style: solid;
    border-right-style: solid;
}

.fill-blanks {
    grid-column: span 2;
}

.calculated-rating {
    grid-column: span 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-weight: 600;
}

.calculated-rating .whole-rating {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    border-left-style: solid;
    border-width: 1px;
}

.calculated-rating .whole-rating .rating-type {
    border-width: 1px;
    border-bottom-style: solid;
    border-right-style: solid;
}

.calculated-rating .whole-rating .avg-rating {
    border-width: 1px;
    border-bottom-style: solid;
    border-right-style: solid;
}

.calculated-rating .whole-rating ,
.calculated-rating .whole-rating .rating-type,
.calculated-rating .whole-rating .each-rating,
.calculated-rating .whole-rating .avg-rating {
    display: grid;
    width: 100%;
    place-items: center;
}

.calculated-rating .whole-rating .each-rating {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    
}

.each-rating span {
    border-width: 1px;
    border-bottom-style: solid;
    border-right-style: solid;
    display: grid;
    width: 100%;
    place-content: center;
}

.another-rating {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr 1fr 1fr;
}

.individuals-bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-style: solid;
    border-width: 1px;

}

.task-wrapper, .sub-task-wrapper {
    display: grid;
    grid-column: span 5;
    grid-template-columns: 1fr 1.2fr 1.2fr 1fr 1fr;
}

.option-header {
    display: flex;
    flex-direction: row;
}
.ipcr-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.additional {
    display: flex;
    flex-direction: row;
}
.ipcr-options button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px    ;
    gap: 10px;
}

.manage-tasks {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.manage-tasks .category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-status, .main-form {
    background-color: var(--primary-color);
    color: white;
    padding: 2px 15px;
    border-radius: 20px;
    text-align: center;
    font-size: 0.8rem;
}

.status-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    
}

.main-form {
    border-radius: 50px;
    border-style: solid;
    font-size: 0.8rem;
    color: var(--primary-color);
    background-color: white;
    border-width: 1px;
}

.assign-btn {
    border-radius: 100px;
    padding: 10px 20px;
}

.ipcr-wrapper{
    position: relative;
    scale: 0.9;
}



.ipcr-wrapper .popup {
    background-color: white;
    z-index: 1000;
    right: -50%;
    top: 0;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgb(228, 228, 228);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: green;
}

.ipcr-wrapper .popup .choices {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
    transition: all 200ms;
    padding: 10px 10px;
}

.ipcr-wrapper .popup .choices:hover {
    background-color: rgb(221, 221, 221);
}


.ipcr-wrapper .popup .material-symbols-outlined {
    font-size: 1rem;
}
#manage-docs .modal-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#manage-docs .modal-body .add-docu-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

#manage-docs .modal-body .add-docu-header button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#manage-docs .modal-body .add-docu-header input {
    border-style: solid;
    display: flex;
    flex-direction: column;align-items: center;
    justify-content: center;
    padding: 10px;
    border-width: 1px;
    border-radius: 10px;
}

.uploaded-documents-container {
    display: flex;
    flex-direction: column;
}

.uploaded-documents-container .uploaded-documents {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.uploaded-documents .document {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(240, 242, 255);
    gap: 10px;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.document .document-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

.document .document-info .file-type {
    color: rgb(138, 138, 138);
    font-size: 0.7rem;
}

.document .document-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
} 

.document .document-options button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.ipcr .ipcr-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    width:130%;
}

.ipcr-info .ipcr-profile {
    background-color: antiquewhite;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.ipcr-info .ipcr-details {
    display: flex;
    flex-direction: column;
}