.positions-container {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.all-positions-container {
    display: flex;
    flex-direction: column;
}

.all-positions-container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.position-list {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
}

.position-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgb(209, 209, 209,0.5);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 211);
}

.position-item .weights {
    display: flex;
    gap: 20px;
}